body{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.pozisn{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(146 161 176 / 30%);
}

.home{
  min-height: 100vh
}
#particles-js {
  
  background-color: #f7f7f7;
  position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }

.logo{
  height: 50px;
  width: 50px;
}

.distance{
  margin-top: 280px;
}

.home .content h2 {
  font-size: 3rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 3rem;
  font-weight: 800;
  color: #1499a7;
}
.home .content p {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 30px;
  color: #1499a7;
  font-weight: 600;
  padding: 1rem 0;
}

.avatar{
  margin: auto;
  display: block;
  width: 400px;
  padding: 180px 0;
}
.avatar svg{
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  border-radius: 50%;
}
.avatar svg:hover{
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  transition: 0.3s;
}

.home .btn {
  position: absolute;
  line-height: 0;
  padding: 1.4rem 2rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #1399a7;
  box-shadow: 0px 1px 14px rgb(20 115 125);
}

.box{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffae00;
  margin-top: 80px;
  margin-right: 15px;
}

.box a i{
  color: #fff;
  line-height: 40px;
  margin-left: 12px;
}

.me_image{
  width: 250px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px rgb(0 0 0);
}

.about-me{
  padding: 30px;
  width: 100%;
  display: flex;
}

.about-me p{
  font-size: 2.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.about-me p span{
  color: #1399a7;
}

.margin-bottom{
  margin-bottom: 200px;
}

.background{
  min-height: 90vh;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
}

.skills p{
  padding: 40px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.skills p span{
  color: #1399a7;
}

.skills-container{
  background-color: #330279;
  border-radius: 15px;
  padding: 20px;
}

 .bar{
  
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.bar:hover{
  box-shadow: 0 8px 10px rgb(0 2 68 / 80%) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.info{
  color: #fff;
  text-align: center;
}

.info p{
  font-size: 15px;
  margin-top: 10px
}

.iconss{
  width: 50px;
  height: 50px;
}