body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
.home{
  position: relative;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  }

.logo{
  height: 50px;
  width: 50px;
}
